@import "../../theme/variables.scss";

.wrapper{
    margin: 20px;

    .card{
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #EBA6A9;
        color: #002A32;

        .tophalfcontainer{
            display: flex;
            border-bottom:   5px solid #002A32;

            .imagecontainer{
                width: 50%;
            }

            .detailscontainer{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 24px;

                .title{
                    font-size: 40px;
                }

                .time {
                    font-size: 28px;
                }

                .location {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .bottomhalfcontainer{
            padding: 30px 40px;
            // background-color: aqua;
            display: flex;
            justify-content: space-between;
            font-size: 24px;
        }
    }
}