@import "../../theme/variables.scss";

.wrapper{
    padding: 0 10px;

    .ticketContainer {
        padding-top: 30px;
    }

    .ticket {
        margin-bottom: 20px;
    }

    .card{
        margin: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #EBA6A9;
        color: #002A32;

        .tophalfcontainer{
            padding-bottom: 10px;
            display: flex;
            border-bottom:  1px solid #002A32;

            .imagecontainer{
                width: 50%;
            }

            .detailscontainer{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .location {
                    width: 16px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .bottomhalfcontainer{
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
        }
    }
}