@import "../../theme/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  background-color: #0c0f54;
  height: 100%;
  margin: 10px 0;

  .headerBar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerBar2 {
    display: flex;
    align-items: center;
  }

  .underflowLogo {
    height: 75px;
  }

  .onYourMark {
    padding-left: 24px;
    color: white;
    font-size: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .searchBox {
    height: 60px;
    width: 350px;
    background-color: #EEEEF0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .searchIcon {
    padding-left: 4px;
    height: 24px;
    width: 24px;
  }

  .searchInput {
    padding-left: 10px;
    font-size: 24px;
    outline: none;
    border: none;
    background-color: #EEEEF0;
  }

  .walletContaier{
    padding-left: 30px;
    padding-right: 30px;
  }

  .walletDisplay {
    background-color: #b8dae6;
    box-shadow: 0 0 0 #e0e0e0;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .walletIcon {
    width: 40px;
    height: 40px;
  }

  .ticketWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .ticketCardWrapper {
    padding-top: 30px;
  }

  .ticketCard {
    height: 620px;
    width: 440px;
    border-radius: 20px;
  }

  .ticketContent {
    height: 620px;
    background-repeat: no-repeat;
    background-size: 440px 622px;
  }

  .ticketDetailsWrapper {
    padding: 10px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .2);
  }

  .ticketTitle {
    margin-top: 5px;
    padding: 10px;
    font-size: 40px;
    box-shadow: 0 3px 10px #c8c8c8;
    color: white;
    background-color: #00000080;
    border-radius: 10px;
    word-break: break-all;
  }

  .ticketDetails {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00000080;
    border-radius: 10px;
  }

  .ticketDate {
    padding-left: 5px;
    font-size: 24px;
  }

  .ticketDateIcon {
    height: 28px;
    width: 28px;
  }

  .ticketLocation {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  .ticketLocationIcon {
    height: 40px;
    width: 40px;
  }

  .ticketImage {
    padding: 2.5%;
    width: 95%;
  }
}
