@import "../../theme/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  .headerBar {
    padding: 30px 0;
    display: flex;
    align-items: center;
  }

  .brandName {
    flex: 1;
    text-align: center;
  }

  .addressContainer {
    --Icon-margin: initial;
    --Icon-fontSize: 1.5rem;
    --Button-gap: 0.5rem;
    min-height: var(--Button-minHeight, 2.5rem);
    font-size: var(--joy-fontSize-sm);
    padding-block: 0.25rem;
    padding-inline: 1rem;
    border-radius: var(--Button-radius, var(--joy-radius-sm));
    margin: var(--Button-margin);
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: var(--joy-fontFamily-body);
    font-weight: var(--joy-fontWeight-md);
    line-height: 1;
    --variant-borderWidth: 1px;
    color: var(--joy-palette-primary-outlinedColor);
    border: var(--variant-borderWidth) solid;
    border-color: var(--joy-palette-primary-outlinedBorder);

    img {
      max-width: 20px;
    margin-right: 10px;
    }
  }

  .headerBar2 {
    display: flex;
    align-items: center;
  }

  .underflowLogo {
    // margin-right: 1rem;
  }

  .onYourMark {
    padding-left: 24px;
    // color: white;
    font-size: 48px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .searchBox {
    height: 60px;
    width: 350px;
    background-color: #EEEEF0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .searchIcon {
    padding-left: 4px;
    height: 24px;
    width: 24px;
  }

  .searchInput {
    padding-left: 10px;
    font-size: 24px;
    outline: none;
    border: none;
    background-color: #EEEEF0;
  }

  .walletContaier{
  }

  .walletDisplay {
    background-color: #b8dae6;
    box-shadow: 0 0 0 #e0e0e0;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .walletIcon {
    width: 40px;
    height: 40px;
  }

  .ticketWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .ticketCardWrapper {
    padding-top: 30px;
  }

  .ticketCard {
    height: 620px;
    width: 440px;
    border-radius: 20px;
  }

  .ticketContent {
    height: 620px;
    background-repeat: no-repeat;
    background-size: 440px 622px;
  }

  .ticketDetailsWrapper {
    padding: 10px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .2);
  }

  .ticketTitle {
    margin-top: 5px;
    padding: 10px;
    font-size: 40px;
    box-shadow: 0 3px 10px #c8c8c8;
    color: white;
    background-color: #00000080;
    border-radius: 10px;
    word-break: break-all;
  }

  .ticketDetails {
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00000080;
    border-radius: 10px;
  }

  .ticketDate {
    padding-left: 5px;
    font-size: 24px;
  }

  .ticketDateIcon {
    height: 28px;
    width: 28px;
  }

  .ticketLocation {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  .ticketLocationIcon {
    height: 40px;
    width: 40px;
  }

  .ticketImage {
    padding: 2.5%;
    width: 95%;
  }
}
